body { background: #eee; margin: 0; margin-bottom: 4em; font-family: "Open Sans"; }

.heading { display: flex; width: 100vw; justify-content: left; align-items: center; min-height: 250px; background: white; background-image: url('https://raw.githubusercontent.com/brokenrecpod/brokenrecpod.github.io/main/header-hero-wide.png'); background-repeat: no-repeat; background-position: top right; background-size: cover; }

h1 { font-size: 4em; margin-left: 6vw; font-weight: 800; }

h2 { font-size: 2em; text-align: center; font-weight: 600; }

h3 { font-weight: 600; }

h4 { font-weight: 400; }

.topper { background: #1a48c4; color: white; width: 88%; margin: auto; margin-top: 2em; padding: 1em 0; }

.topper h2 { letter-spacing: -0.05em; margin: 0; }

.chartTable { display: flex; flex-direction: column; margin: auto; width: 88%; background: white; }

.chartEntry { display: flex; flex-direction: row; }

.chartEntry:not(:last-of-type) { border-bottom: 1px solid #eee; }

.albumRank, .albumLink { flex: 0 0 125px; display: flex; align-items: center; justify-content: center; background: black; color: white; border-right: 1px solid #eee; font-weight: 800; font-size: 2em; }

.albumImage { flex: 0 0 125px; display: flex; align-items: center; justify-content: center; }

.charts .chartEntry:first-of-type .albumImage { flex: 0 0 250px; }

.albumImage img { width: 100%; }

.chartEntry .albumName { flex: 6; margin-left: 1em; margin-top: auto; margin-bottom: auto; }

.albumName h3 { font-size: 1.4em; margin-block-end: 0; }

.albumName h4 { font-size: 1.1em; margin-block-start: 0.4em; }

.chartTable2 { display: flex; flex-direction: column; margin: auto; width: 88%; background: white; }

.chartEntry2 { display: flex; flex-direction: row; }

.chartEntry2:not(:last-of-type) { border-bottom: 1px solid #eee; }

.chartEntry2 .albumRank, .chartEntry2 .albumLink { flex: 0 0 75px; display: flex; align-items: center; justify-content: center; background: black; color: white; border-right: 1px solid #eee; font-weight: 800; font-size: 2em; }

.chartEntry2 .albumName { flex: 999; margin-top: auto; margin-bottom: auto; }

.chartEntry2 .albumName h3 { margin: 1em; }